.index-page-main{
    .banner{
        background-image: linear-gradient(rgba(0, 0, 0, 0.624),rgba(0, 0, 0, 0.617)),url(../../../../public/front-view-woman-with-basketball-ball.jpg);
        height: 91vh;
        background-attachment: fixed;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        // padding-top: 9%;
    }
    .banner-content{
        background-color: rgba(255, 255, 255, 0.38);
        color: rgb(255, 255, 255);
        width: 30%;
        margin-left: 6%;
        padding: 36px;
        padding-top: 12%;
        padding-bottom: 35px;
        border-bottom: 6px solid yellow;
    }
    .banner-content h1{
        font-size: 60px;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .banner-content p{
        margin-bottom: 35px !important;
    }
    .ul{
        width: 16%;
        border-bottom: 6px solid yellow;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .angle{
        font-size: 40px;
        background-color: white;
        color: rgb(2, 8, 80);
        padding: 10px;
    }
    .order-btn{
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        padding: 5px 25px;
    }
    .ctgry-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center !important;
        // align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ctgry-images{
        width: 25%;
        border-radius: 6px;
        height: 200px;
        transition: .4s;
        // background-color: rgb(176, 55, 55);
        overflow: hidden;
        cursor: pointer;
    }
    .ctgry-images:hover{
        transform: scale(1.03);
    }
    .ctgry-list img{
        width: 100%;
        filter: brightness(50%);
    }
    .cat-heading{
        padding-left: 5%;
    }
    .cat-heading h3{
        color: rgb(2, 8, 80);
        font-weight: 700;
        font-size: 30px;
        padding-top: 40px;
    }
    .cat-ul{
        width: 5%;
        border-bottom: 5px solid rgb(2, 8, 80);
        margin-bottom: 50px;
    }
    .cat-kids{
        padding-left: 5%;
    }
    .cat-kids-heading h3{
        color: rgb(2, 8, 80);
        font-weight: 700;
        font-size: 30px;
        padding-top: 40px;
    }
}