.adminHomePageMain{
    .display-username{
        // background-color: red;
        text-align: right;
        // padding-right: 10px;
    }
    .header-main{
        display: flex;
    }
   .header-right{
        width: 20%;
        padding-top: 20px;
    }
    .header-left{
        width: 80%;
        padding-top: 20px;
    }

    .display-username span{
        background-color: rgb(2, 7, 61);
        color: white;
        padding-right: 10px;
        padding: 7px;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 19px;
        border-radius: 20px 0px 0px 20px;
        // margin-left: 10px;
    }
    .display-username .fa-user{
        margin-right: 10px;
        background-color: white;
        padding: 7px 10px;
        color: rgb(2, 7, 61);
        border-radius: 50%;
    }
    .back-btn{
        border-radius: 0px 20px 20px 0px;
        text-decoration: none;
        background-color: rgb(2, 7, 61);
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 7px 30px;
    }
     .header-right button{
        background-color: rgb(2, 7, 61) !important;
        color: rgb(255, 255, 255);
        border: none;
        // font-size: 23px;
        // padding: 2px 10px;
        background-color: white;
     }
     .hero{
        padding-top: 20px;
        display: flex;
     }
     .hero-left{
        width: 20%;
        // border-right: 3px solid rgb(2, 7, 61);
        // background-color: red;
        height: 600px;
     }
     .hero-right{
        width: 80%;
        // background-color: rgb(57, 23, 23);
        height: 300px;
     }
     .hero-left h4{
        padding-left: 13%;
        background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
        color: white;
        text-align: center;
        padding: 10px;
        margin-bottom: 0 !important;
     }
     .item{
        background-color: rgb(255, 255, 255);
        color: white;
        margin-top: 0 !important;
        padding: 10px;
        // padding-left: 30px;
        text-align: center;
     }
     .cat-ithems span{
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-right: 20px;
        color: rgb(2, 7, 61);
     }
     .edit-btn,.delete-btn{
        text-decoration: none;
        margin-right: 10px;
        background-color: rgb(2, 7, 61);
        color: rgb(255, 255, 255);
        padding: 2px 10px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
     }
     .cat-ithems th{
        height: 60px !important;
        width: 170px;
        padding-left: 20px;
     }
     .cat-ithems tr{
      border-bottom: 1px solid rgba(2, 7, 61, 0.551);
     }
     .add-cat-section{
        // background-color: rgb(2, 7, 61);
        background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
        padding: 10px;
        text-align: center;
     }
     .add-cat-btn{
        text-decoration: none;
        color: white;
     }
     .add-product-section{
        background:linear-gradient(rgb(2, 7, 61),rgb(6, 17, 139));
        padding: 10px;
        text-align: center;
        margin-top: 10px;
     }
     .add-product-btn{
        text-decoration: none;
        color: white;
     }

}