.whishlist-main{
    .backBtn{
        padding-top: 20px;
    }
    .back-btn{
        border-radius: 0px 20px 20px 0px;
        text-decoration: none;
        background-color: rgb(2, 7, 61);
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 7px 30px;
    }
    .mainHeading{
        margin-top: 20px;
        padding-left: 5%;
        font-weight: 700;
        letter-spacing: 1px;
    }
}